:root {
  --light-grey: #eee;
  --mid-grey: #bbb;
  --dark-grey: #333;
  --vodka: #b4dde4;
  --whisky: #fae2cc;
  --champagne: #d9e09a;
  --wine: #f0aab8;
}

@keyframes hov {
  0%    {transform: translateX(0);}
  8%     {transform: translateX(4px)}
  10%     {transform: translateX(6px)}
  12%     {transform: translateX(4px)}
  20%     {transform: translateX(0)}
  30%    {transform: translateX(0);}
  38%     {transform: translateX(4px)}
  40%     {transform: translateX(6px)}
  42%     {transform: translateX(4px)}
  50%     {transform: translateX(0)}
}

body {
  color: var(--dark-grey);
  position: relative;
  background-image: linear-gradient(to left, #fff, #ccc);
  overflow-x: hidden;
}

.home-page-wrapper::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -40px;
  left: -10vw;
  width: 120vw;
  height: 480px;
  background-image: linear-gradient(to left, rgb(60, 155, 192), rgb(151, 49, 100));
  transform: rotate(1deg);
}

@media (max-width: 580px) {
  .home-page-wrapper::after {
    height: 610px;
  }
}

.container {
  max-width: 900px;
}

@keyframes fadeIn {
  from  {opacity: 0;}
  to    {opacity: 1;}
}

h1 {
  font-size: 28px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: white;
  padding-top: 30px;
}

/* Search */

.search-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  margin-top: 40px;
  margin-bottom: 80px;
}

.search-row input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
}

.search-row input:focus {
  outline: none;
  box-shadow: 0 0 30px rgba(0,0,0,.4);
}

.search-row .buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

@media (max-width: 580px) {
  .search-row .buttons-container {
    grid-template-columns: 1fr 1fr;
  }
}

.search-row h1 {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.search-row button {
  width: 120px;
  padding-top: 90px;
  margin-bottom: 1rem;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: bold;
  color: var(--mid-grey);
  display: flex;
  justify-content: center;
  justify-self: center;
  transition: .2s ease-out;
}

.search-row button::before {
  transition-delay: .25s;
}
.search-row button::before,
.search-row button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--light-grey);
  background-position: center;;
  background-size: 40px;
  background-repeat: no-repeat;
}

@media (max-width: 580px) {

}

.search-row button.active {
  color: white;
}

.search-row button#vodka::before {
  background-image: url('/src/icons/vodka-ln.png');
}

.search-row button#vodka.active::before {
  background-color: var(--vodka);
  background-image: url('/src/icons/vodka.png');
}

.search-row button#whisky::before {
  background-image: url('/src/icons/whisky-ln.png');
}

.search-row button#whisky.active::before {
  background-color: var(--whisky);
  background-image: url('/src/icons/whisky.png');
}

.search-row button#wine::before {
  background-image: url('/src/icons/wine-ln.png');
}

.search-row button#wine.active::before {
  background-color: var(--wine);
  background-image: url('/src/icons/wine.png');
}

.search-row button#champagne::before {
  background-image: url('/src/icons/champagne-ln.png');
}

.search-row button#champagne.active::before {
  background-color: var(--champagne);
  background-image: url('/src/icons/champagne.png');
}

.search-row button::after {
  opacity: 0;
}

.search-row button#vodka::after {
  background-color: var(--vodka);
}

.search-row button#whisky::after {
  background-color: var(--whisky);
}

.search-row button#wine::after {
  background-color: var(--wine);
}

.search-row button#champagne::after {
  background-color: var(--champagne);
}

.search-row button.active::after {
  background-color:s;
  transform: scale(0);
  animation: pop .5s ease-in forwards;
}

@keyframes pop {
  0%      { transform: scale(0); opacity: .85;}
  50%     { transform: scale(1); opacity: .85;}
  70%     { transform: scale(1); opacity: 0;}
  100%    { transform: scale(0); opacity: 0;}
}

.drink-card-wrap {
  padding: 30px 12px;
}

.drink-card {
  opacity: 0;
  animation: fadeIn .5s .4s forwards ease-out;
  position: relative;
  background: white;
}

.drink-card::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
  opacity: .5;
  transition: opacity .3s ease-out;
}

.drink-card:hover::after {
  opacity: 1;
}


.drink-card img {
  width: 100%;
}

.drink-card .img-wrap {
  margin-bottom: 20px;
  position: relative;
}

.drink-card .img-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  opacity: .4;
  transition: opacity .3s ease-out;
}

.drink-card:hover .img-wrap::after {
  opacity: 0;
}

.drink-card-content {
  padding: 30px;
}

.drink-card-content a {
  color: #000000;
  text-decoration: none;
}

.drink-card h3 {
  font-size: 18px;
  min-height: 46px;
  color: var(--dark-grey);
}

.drink-card button {
  background: none;
  border: none;
  padding: 10px 20px 10px 0;
  position: relative;
  font-size: 11px;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.drink-card button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--dark-grey);
  transform: scaleX(.25);
  transform-origin: left;
  transition: .3s ease-out;
}

.drink-card button:hover::before {
  transform: scaleX(1);
}

.drink-card button::after {
  content: '';
  position: absolute;
  right: 0;
  width: 8px;
  height: 8px;
  background-image: url(/src/icons/play.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.drink-card button:hover::after {
  transition: opacity .3s ease-out;
  animation: hov 1s .3s linear infinite;
}

/* Single Cocktail Page */

.scp-wrapper::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -40px;
  left: -10vw;
  width: 120vw;
  height: 500px;
  background-image: linear-gradient(to left, rgb(60, 155, 192), rgb(151, 49, 100));
  transform: rotate(1deg);
}

.scp-home-icon {
  position: absolute;
  width: 40px;
  top: 1rem;
  left: 1rem;
}

.scp-title-wrapper {
  margin-right: 40px;
}

.scp-header {
  height: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scp-alcoholic {
  color: #ffffff;
}

.scp-img-wrapper {
  position: relative;
}

.scp-img {
  width: 300px;
  margin: 2rem 2rem 0 0;
  transform: rotate(354deg);
  border: 10px solid white;
  box-shadow: 1px 2px 10px black;
}

.scp-pin {
  position: absolute;
  width: 40px;
  top: 24px;
  left: 5px;
}

.scp-main {
  margin-top: 60px;
}

@media (max-width: 399px) {

  .scp-img {
    width: 250px;
  }

}

@media (max-width: 699px) {

  .scp-header {
    margin-top: 60px;
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .scp-wrapper::after {
    height: 670px;
  }

  .scp-title-wrapper {
    margin: 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scp-title-wrapper h1 {
    text-align: center;
  }

  .scp-img {
    margin: 0 auto;
  }

  .scp-pin {
    top: 0;
  }

  .scp-main {
    margin-top: 120px;
  }

}